{% extends 'base.html' %}
{% block content %}

<div class="product-description">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                {% if product.image %}
                    <div class="product__detail__img background-image" style= "background-image: url('https://lostinplantopia.files.wordpress.com/2018/11/img_9886.jpg')"></div>     
                {% endif %}  
            </div>
            <div class="col-12 col-lg-6">
                <h1>{{ product.name }}</h1>
                <p>€{{ product.price }}</p>
                <p>{{ product.description }}</p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="100" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="button button-block" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}