{% extends 'base.html' %}
{% block content %}

<div class="product-description">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                {% if product.image %}
                    <div class="product__detail__img background-image" style= "background-image: url('{{ product.image.url }}')"></div>     
                {% endif %}  
            </div>
            <div class="col-12 col-lg-6">
                <h1>{{ product.name }}</h1>
                <p>€{{ product.price }}</p>
                <p>{{ product.description }}</p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div>
                        <input class="quantity-form" value="1" name="quantity" type="number" min="1" max="100" placeholder="Quantity" required>
                        <span>
                            <button class="button product__detail__button" type="submit">Add to cart</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}