@media (min-width: 1025px) {
    /* Common content width */
    .navbar,
    .cart__container,
    .some-products__container,
    .products,
    .about__content,
    .checkout {
        max-width: 1300px;
        margin: auto;
    }

    /* Carousel */
    .carousel__img {
        width: 100%;
        height: auto;
    }

    .about__people {
        padding: 60px 0;
    }
  
    /* Products */
    .card__img {
        height: 380px;
    }

    .create-product__form {
        max-width: 574px;
        margin: auto;
    }

    /* Accounts */
    .account__img {
        display: inline-block;
    }

    #id_username, #id_password, #id_password1, #id_password2 {
        width: 100%;
    }

    /* Error / Empty cart */
    .error-emptycart__txt {
        padding-top: 110px;
    }
}