@media (min-width: 1025px) {
    .carousel__img {
        width: 100%;
        height: auto;
    }
    .card__img {
        height: 380px;
    }

    .container {
        max-width: 70%;
        margin: auto;
    }
}