/** General paddings, margins, styles **/
*,
a:hover {
  text-decoration: none;
}

body,
html {
  height: 100%;
}

.site-content {
  min-height: calc(100vh - 96px);
}

.background-image {
  width: 100%;
  display: block;
  background-size: cover;
  padding-top: 40px;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

/* Carousel */
.carousel.slide {
  margin: auto;
  width:100%;
}

.carousel-item {
  height: 70vh;
}

.carousel__img {
  height: 100%;
}

.carousel-caption h5 {
  font-style: italic;
}

/* About */
.about__content {
  width: 80%;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}

.background-image__about {
  background-image: url("/static/images/about.jpg");
}

.about__text {
  text-align: center;
}

/* Card */
.card {
  position: relative;
  margin: 10px auto;
  max-width: 600px;
  border: none;
}

.card__img-wrapper {
  overflow: hidden;
}

.card__img {
  height: 315px;
  width: 100%;
  background-image: url("https://cdn.pixabay.com/photo/2017/07/25/01/22/cat-2536662_960_720.jpg");
  background-size: cover;
  background-position: center center;
  margin: auto;
  transition: all .6s;
}

.card__img:hover {
  transform: scale(1.2);
}

.card__body {
  text-align: center;
}

.card__body__header h6 {
  font-size: 0.8em;
}

.card__body__header__text {
  display: inline-block;
  text-align: center;
}

.card__body__header__name {
  line-height: 1.5;
  margin: 0 0 10px;
  font-size: 1.2em;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 50%;
  margin: auto;
}

/* Footer */

.social-links {
  margin: auto;
}
