@media (min-width: 768px) {
    /* Carousel  */
    .carousel__img {
        height: 100%;
        /* margin: 0px -1100px; */
      }

      /* About url */
    .about__content__image {
        margin: 30px 0;
    }

    .about-card {   
        padding: 40px 20px;
    }

    .about__people__card {
        display: inline-block;
        margin: 0px 50px;
    }

    /* Product detail url */
    .product__detail__img {
        height: 600px;
    }

    /* Cart */
    .cart__table-category__img {
        display: block;
      }

    .cart__table__img {
        height: 115px;
        width: 86px;
    }

    .cart__table__total {
        width: 50%;
    }

    /* Checkout */

    .checkout__order {
        width: 50%;
    }

    .checkout__order tbody tr th {
        width: 100%;
    }
    

    /* Error url */
    .error-emptycart__txt {
        padding-top: 160px;
    }
}