@media (min-width: 768px) {
    .product__detail__img {
        height: 600px;
    }

    .cart__table-category__img {
        display: block;
      }

    .cart__table__img {
        height: 115px;
        width: 86px;
    }

    .cart__table__total {
        width: 50%;
    }
}