{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<div>
    {% for item in cart_items %}
        <div>
            <div style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}');"></div>
            <div>
                <h3>{{ item.product.name }}</h3>
                <p>{{ item.product.snippet }}</p>
                <p>{{ item.quantity }}</p>
                <p>{{ item.product.price }}</p>
            </div>
        </div>
    {% endfor %}
</div>
<div>
    <p>Total</p>
    <p><span class="glyphicon gliphicon-euro" aria-hidden="true">{{ total }}</span></p>
</div>
<form role ="form" id="payment-form" action="{% url 'checkout' %}" method="post">
    <legend>Payment Details</legend>
    <div id="credit-card-errors" style="display: none;">
        <div class="alert-message block-message error" id="stripe-error-mesage"></div>
    </div>

    <div class="form-group col-md-6">
        {{ order_form | as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
    </div>

    {% csrf_token %}
    <div class="form-group col-md-12">
        <input type="submit" name="commit" value="Submit Payment" class="btn btn-primary" id="submit_payment_btn">
    </div>
</form>
{% endblock %}