{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<section class="checkout">
    <div class="checkout__form">
        <h1 class="section__title">Checkout</h1>
        <form role ="form" id="payment-form" class="container" action="{% url 'checkout' %}" method="post">
            <div class="row">
                <div class="col-12">
                    <h3 class="section__subtitle">Payment Details</h3>
                </div>
                <div id="credit-card-errors" style="display: none;">
                    <div class="alert-message block-message error" id="stripe-error-mesage"></div>
                </div>
            
                <div class="col-12 col-md-6">
                    {{ order_form | as_bootstrap }}
                </div>
            
                <div class="col-12 col-md-6">
                    {{ payment_form | as_bootstrap }}
                </div>
            </div>
            
            <h2>Your Order</h2>
            <div class="checkout__order">
                <table class="checkout__table">
                    <!-- Categories in shopping cart -->
                    <tr>
                        <th>Product</th>
                        <th>Total</th>
                    </tr>
                    <!-- Detail of products in shopping cart -->
                    {% for item in cart_items %}
                        <tr>
                            <td>{{ item.product.name }} x {{item.quantity}}</td>
                            <td>€{{ item.total }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><strong>Sub-Total</strong></td>
                        <td>€{{ sub_total }}</td>
                    </tr>
                    <tr>
                        <td><strong>Shipping</strong></td>
                        <td>€{{ shipping }}</td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td>€{{ total }}</td>
                    </tr>
                </table>
            </div>
            {% csrf_token %}
            <div class="col-md-3">
                <input type="submit" name="commit" value="Submit Payment" class="button submit_payment_btn" id="submit_payment_btn">
            </div>
        </form>
    </div>
</section>

{% endblock %}