{% extends 'base.html' %}

{% block content%}
<section class="account">
  <div class="account-content background-image">
    <div class="account__formWrapper">
      <div class="account__form">
        <h1 class="account__title">Sign in</h1>
        <form action="{% url 'accounts:signin' %}" method="post" class="accountform">
            {% csrf_token %}
            {{form}}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next}}">
            {% endif %}
            <input type="submit" class="button account__button" value="Sign in">
            <p>You haven't signed up yet? Sign up <a class="here" href="{% url 'accounts:signup' %}">here</a></p>
        </form>
      </div>   
    </div>
    <div class="account__img account__img__signin"></div>
  </div>
</section>
{% endblock %}


 