{% extends 'base.html' %}

{% block content%}
<section class="account">
  <div class="account-content background-image">
    <div class="account__formWrapper">
      <div class="account__form">
        <h1 class="account__title">Sign up</h1>
        <form action="{% url 'accounts:signup' %}" method="post" class="">
            {% csrf_token %}
            {{form}}
            <input type="submit" class="button account__button" value="Sign up">
            <p>You have already signed up? Sign in <a class="here" href="{% url 'accounts:signin' %}">here</a></p>
        </form>
      </div>
    </div>
    <div class="account__img account__img__signup"></div>
  </div>
</section>
{% endblock %}