{% extends 'base.html' %}
{% block content %}
<div class="error-emptycart">
    <div class="container error-emptycart__content_wrapper">
        <div class="error-emptycart__content_wrapper2">
            <h1 class="section__title error-emptycart__title">404</h1>
            <h3 class="section__subtitle error-emptycart__subtitle">Page not found</h3>
            <p class="error-emptycart__p">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
            <div class="error-emptycart__button">
                <a class="button" href="{% url 'home' %}">Return to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}