{% extends 'base.html' %}
{% block content %}
<!-- About -->
<section class="about">
    <div class="background-image background-image__about">
        <div class="about__content">
            <h1 class="section__title">About</h1>
            <p>At Catcus, we have something for everyone, whether you are a beginner who wants to start out with a few small pots and trays on your windowsill, the 'green fingered' expert or professional landscape gardener, we have the tools for you.
            <br>
            <br>
            If you have any questions about us, our products or need help with your garden please get in touch with us via our contact us page. There is always someone on hand to take your questions and experts to offer you gardening advice.</p>
        </div>
    </div>
    </div>
  </section>
  <!-- /About -->
  {% endblock %}