{% extends 'base.html' %}
{% block content %}
<!-- About -->
<section class="about">
    <div>
        <div class="container about__content">
            <h1 class="section__title">About</h1>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <h3 class="section__subtitle">We take plants personally & we bring you happiness</h3>
                    <p class ="about__content__text">At Catcus, we have something for everyone, whether you are a beginner who wants to start out with a few small pots and trays on your windowsill, the 'green fingered' expert or professional landscape gardener, we have the tools for you.
                        <br>
                        <br>
                    If you have any questions about us, our products or need help with your garden please get in touch with us via our contact us page. There is always someone on hand to take your questions and experts to offer you gardening advice.</p>
                </div>
                <!-- <div class="about__content__image__container"> -->
                <div class="col-12 col-lg-6 about__content__image"></div>
                <!-- </div> -->
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 about__people">
                    <h3 class="section__subtitle">Plant Experts</h3>
                    <p>A perfect blend of creativity, energy, communication, happiness and love. Let us arrange a smile for you.</p>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="about__people__card">
                        <div class="background-image people1"></div>
                        <div class="about__people__card__text">
                            <h6>Roberta Scott</h6>
                            <p>Manager - Gardener</p>
                        </div>
                    </div>
                    <div class="about__people__card">
                        <div class="background-image people2"></div>
                        <div class="about__people__card__text">
                            <h6>Melissa Patton</h6>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </div>
  </section>
  <!-- /About -->
  {% endblock %}