{% load static %}
{% load bootstrap_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="Plants"/>
    <meta name="author" content="Elisa Munoz" />
    <title>Catcus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300;400;500&family=Playfair+Display:wght@400;500&display=swap">
    
    <!-- <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'css/tablet.css' %}">
    <link rel="stylesheet" href="{% static 'css/desktop.css' %}"> -->
  
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/accounts.css">
    <link rel="stylesheet" href="/static/css/tablet.css">
    <link rel="stylesheet" href="/static/css/desktop.css">
  
  </head>
  <body>
    <!-- Header -->
    <div class="navbar__wrapper">
      <nav class="container navbar navbar-color navbar-expand-xl navbar-light">
        <a href="{% url 'home' %}">
          <div class="navbar-brand">
            <span class="cat">cat</span><span class="cus">cus</span>
          </div>
          <div class="navbar-brand-logo">
            <img class="catcus-logo" src="{% static 'images/catcus-logo.png' %}" alt="Catcus Logo">
          </div> 
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link underline" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link underline" href="{% url 'about' %}">About</a>
            <a class="nav-item nav-link underline" href="{% url 'products_list' %}">Shop</a>
            {% if user.is_authenticated %}
              <!-- <a class="nav-item nav-link" href="#">Hello {{ user }}</a>
              <a class="nav-item nav-link" href="{% url 'accounts:profile' %}">Profile</a> -->
              <a class="nav-item nav-link underline" href="{% url 'accounts:logout' %}">Logout</a>
            {% else %}
              <a class="nav-item nav-link underline" href="{% url 'accounts:signin' %}">Sign in</a>
              <a class="nav-item nav-link underline" href="{% url 'accounts:signup' %}">Sign up</a>
            {% endif %}
            <a class="nav-item nav-link underline" href="{% url 'cart' %}">Cart <i class="fas fa-shopping-bag">
              {% if product_count > 0 %}
                <label class="badge badge-warning">{{ product_count }}</label>
              {% endif %}
            </i></a>
          </div>
        </div>
      </nav>
    </div>

    <!-- Messages -->
    <!-- This message renders when it comes from the backend -->
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% endif %} message-error" role="alert">
            <div class="container">{{ message }}</div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {% endfor %}
    {% endif %}
    
    <!-- Message to be used with Javascript functions -->
    <div id="message-error" class="alert alert-danger alert-dismissible fade show hidden message-error" role="alert">
      <div class="container"></div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- /Header -->

    <!-- Site content -->
    <div class="site-content" id="{% block pageId %}{% endblock pageId %}">
      {% block content %} {% endblock content %}
    </div>
    <!-- /Site content -->

    <!-- Footer-->
    <footer>
      <div class="container">
        <ul class="list-inline text-center col-sm-3 social-links">
          <li class="list-inline-item">
            <a target="_blank" href="https://github.com/elisamunoz">
              <i class="fab fa-github fa-footer" aria-hidden="true"></i>
              <span class="sr-only">GitHub</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="#">
              <i class="fab fa-linkedin fa-footer" aria-hidden="true"></i>
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>
    </footer>
    <!--/Footer-->

    <!--Scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/68fe0b31dc.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    <script src="/static/js/script.js"></script>

    {% block head_js %}
    {% endblock head_js %}
    <!--/Scripts-->
  </body>
</html>