{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Home / Carousel -->
<section class="home">
  <div class="background-image home_image">
    <div class="home__text">
      <h1>Gardening is <strong>our passion</strong></h1>
      <h6 class="home__text__subtitle">Grow with your garden. Start blooming. Gardening grows the spirit.</h6>
    </div>
  </div>
</section>
<!--/Carousel -->
 
<!-- Service -->
<section class="service">
  <div class="container service__container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="about-card">
          <div class="about-card__icon"><i class="fas fa-truck"></i></div>
          <div class="about-card__text">
            <h5><strong>FREE SHIPPING ON ORDERS OVER €75</strong></h5>
            <p>Deliver only in the Republic of Ireland</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="about-card">
          <div class="about-card__icon"><i class="fas fa-phone-alt"></i></div>
          <div class="about-card__text">
            <h5><strong>FREE DEDICATED SUPPORT</strong></h5>
            <p>Text us about what plants are better for your home</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="about-card">
          <div class="about-card__icon"><i class="fas fa-undo-alt"></i></div>
          <div class="about-card__text">
            <h5><strong>MONEY BACK GUARANTEE</strong></h5>
            <p>If you are not happy with your purchase</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Service -->

<!-- Show products -->
<section id="some-products" class="some-products">
    <div class="container some-products__container">
      <h1 class="section__title">The Latest</h1>
  
      <!-- Product card -->
      <div id="cards" class="row">
        {% for product in products %}
        <div class="wrapper col-12 col-md-6 col-lg-3 card_wrapper">
          <article class="card">
            <a href="{% url 'product_detail' product.id %}">
              <div class="card__img-wrapper">
                <div class="card__img" style="background-image: url('{{ product.image.url }}');"></div>
              </div>
              <div class="card__body">
                <div class="card__body__header">
                  <div class="card__body__header__text">
                    <h4 class="card__body__header__name">{{ product.name }}</h4>
                    <h5 class="card__body__header__text__price">€{{ product.price }}</h5>
                  </div>
                </div>
              </div>
            </a>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
<!-- /Show products -->

{% endblock %}